{% extends "quotesapp/components/base.html" %}
{% load extrafilters %}
{% load static %}


{% block pagetitle %}
  <title>Tags | quotes.michelepasin.org</title>
{% endblock pagetitle %}

{% block navbar %}

    {% with thispage="tags" %}

    {% include "quotesapp/components/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


{% block bodycontent %}

  <div class="page-header">
    Quotes {% if tag %} - by keyword | <a href="?query=date&type=all" class="">View all</a>{% endif %}

  </div>

  <div class="container">


	
	{% if tag %}

		<div class="row">

			<div class="col-sm-7 col-md-12 text-left">
				<p style="color: #e8e5e5; font-size: 800%; ">
				#{{tag}}
				</p>
			</div>

		</div>

		<div class="row" style="margin-top: 30px;">

			{% comment %} **** D3 CHART ***** {% endcomment %}

			<div class="col-md-12" style="margin-bottom: 30px;">
		
				<span class="text-muted" style="color: #cbcbcb;">Top related keywords - double-click to view:</span>
				
				<div id="graph_div" class="-col-md-12" style="min-height: 500px; border: lightgray 0.1px solid; overflow: hidden;">       
		
				</div>
			
			</div>

			<div class="col-md-8" style="margin-top: 50px;">

				<p class="lead margin50Bottom " style="color: rgb(186, 184, 184);" >The keyword <code>{{tag}}</code> includes {{tot_quotes}} quote{{ tot_quotes|pluralize }} from {{tot_sources}} source{{ tot_sources|pluralize }}:</p>

				{% for obj in return_items %}
				
					{% ifchanged obj.source %}  
					{% if not forloop.first %}</fieldset><br/><br/>{% endif %}
					<fieldset class="border p-2">
						<legend class="w-auto"><small><span class="glyphicon glyphicon-book" aria-hidden="true" style="color: #cbcbcb;"></span></small>&nbsp;{% if obj.source_url %}<a href="{{obj.source_url}}" class="text-muted" target="_blank">{{obj.source}}
							&nbsp;<small><span class="glyphicon glyphicon-new-window" aria-hidden="true" style="color: #cbcbcb;"></span></small></a>
							{% else %}<span class="text-muted" >{{obj.source}}</span>{% endif %}</legend>

					{% endifchanged %}
						

					<li class="quotes-list">
						<!-- <a style="font-size: 120%;" href="/quotes/{{obj.filename}}">{{obj.title}}</a> -->
						<a style="font-size: 120%;" href="{% url 'quotesapp:quotes' obj.filename %}"><small><span class="glyphicon glyphicon-pushpin" aria-hidden="true" -style="color: #cbcbcb;"></span></small>&nbsp;{{obj.title}}</a>
						<br />

						{% for tag2 in obj.tags %}
							{% ifequal tag tag2 %}
							<span class="text-muted" style="font-weight: bold;">#{{tag2}}</span>&nbsp;
							{% else %}
							<a class="text-muted" href="{% url 'quotesapp:tags' %}?tag={{tag2}}">#{{tag2}}</a>&nbsp;
							{% endifequal %}
						{% endfor %}
					
					
					</li>

		
				{% endfor %}
			</div>




		</div>


	<!-- IF NOT TAG.. -->
	{% else %}

		
	<div class="row margin20Top margin50Bottom ">

		<!-- <hr class=" margin50Bottom  ">	 -->

		<div class="col-sm-3 col-md-3">


			<p style="color: #e8e5e5; font-size: 600%; ">
				Tags
			  </p>


		</div>

		
		<div class="col-sm-9 col-md-9 text-right">

					
			{% for tag in tags  %}
					
				{% if tag.1 >= min_tags_occurrence %}
					<!-- <a href="?tag={{tag.0}}" title="{{tag.1}} quotes" style="{{tag.1|tagsize_quotes}}">{{tag.0}}</a>&nbsp; -->
					<a href="{% url 'quotesapp:tags' %}?tag={{tag.0}}" title="{{tag.1}} quotes" style="{{tag.1|tagsize_quotes}}">{{tag.0}}</a>&nbsp;
				{% endif %}
									
			{% endfor %}
			

		</div>

	</div>  

	{% endif %}
	
	<!-- end of row -->





    <div class="row" style="margin-top: 60px;">
    &nbsp;
    </div> 
    {% comment %} second row ends {% endcomment %}



  </div> <!-- /container -->


{% endblock bodycontent %}




{% block extra_js %}


  {% comment %} JS for D3 Graph {% endcomment %}

   {% include 'quotesapp/components/snippet_graph.html' %}

  

{% endblock %}
